@layer base {
    html {
        font-size: 16px;
    }

    body {
        @apply bg-gray-100;
    }
    h1, h2, h3 {
        @apply font-bold text-3xl text-gray-700 mt-12 mb-12
    }
    h2 {
        @apply text-2xl  mt-10 mb-8;
    }

    h3 {
        @apply text-xl mt-0 mb-6;
    }

    input {
        @apply px-4 py-2 rounded border-2 text-gray-800 focus:outline-none border-gray-300 mb-4 mt-2;
    }
    input[type=text], input[type=email], input[type=password] {
        @apply min-w-full ;
    }


    input[type=checkbox] {
        @apply mr-4;
    }

    label {
        @apply block;
    }
    a {
        @apply underline
    }

    li span {
        position: relative;
        left: 10px;
    }

    tr {
        @apply border-2;
    }
}
